%section
  .container
    .row
      - @images.in_groups(3, false).each do |image_group|
        .col-md-4.col-sm-4
          - image_group.each do |image|
            .panel.panel-default.catalog-item
              = image_tag "vector_art/#{image.split('/').last}"
              .panel-footer.text-center
                %span
                  = "Image Code: #{image.split('/')[-1].gsub('.jpg', '')}"
