<section>
  <div class='container'>
    <div class='row'>
      <% @images.in_groups(3, false).each do |image_group| %>
        <div class='col-md-4 col-sm-4'>
          <% image_group.each do |image| %>
            <div class='panel panel-default catalog-item'>
              <%= image_tag "vector_art/#{image.split('/').last}" %>
              <div class='panel-footer text-center'>
                <span>
                  <%= "Image Code: #{image.split('/')[-1].gsub('.jpg', '')}" %>
                </span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
