<% @body_id = 'home-page' %>

<% content_for(:sub_header) do %>
  <div class='jumbotron'>
    <section>
      <div class='container'>
        <div class='row'>
          <div class='col-md-4 col-sm-6'>
            
          </div>
          <div class='col-md-8 col-sm-6'>
            <h1 class='text-signature text-white'>
              Rock Solid Memories
            </h1>
            <h2 class='text-secondary'>
              Stone engraving for the memories you'll never forget.
            </h2>
            <p class='text-white'>
              Welcome to the Rock Solid Memories website. Our company custom engraves rocks for a variety of occasions and purposes.
            </p>
            <div>
              <% Spree::Product.order('name asc').each do |product| %>
                <%= link_to spree.product_path(product) do %>
                  <span class='header-accent'>
                    <%= product.name %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>

<section>
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</section>

