%section
  .content
    .row
      .col-sm-12
        %h1
          Sizes and Prices
%section
  .content
    .row
      .col-sm-12
        %p
          Our natural stones come in various size ranges that we have
          qualified as Small, Medium, Large, and Extra Large. The
          longest side is relatively fixed per category, though the
          other dimensions will vary based on your design.
        %table.centered.table.table-bordered
          %thead
            %tr
              %th{:scope => "column", :width => "20%"}
              %th{:scope => "column", :width => "20%"} Small
              %th{:scope => "column", :width => "20%"} Medium
              %th{:scope => "column", :width => "20%"} Large
              %th{:scope => "column", :width => "20%"} Extra Large
          %tbody
            %tr
              %th{:scope => "row"} Longest Side
              %td 4" - 6"
              %td 6" - 9"
              %td 9" - 12"
              %td 12" - 16"
  %section
    %section
      .content
        .row
          .col-sm-12
            %p
              Stone size and images increase the effort and material costs
              invested in each creation and therefore affect the prices of
              our products.
        .row
          .col-sm-12
            %table.centered.table.table-bordered
              %thead
                %tr
                  %th{:scope => "column", :width => "20%"}
                  %th{:scope => "column", :width => "20%"} Small
                  %th{:scope => "column", :width => "20%"} Medium
                  %th{:scope => "column", :width => "20%"} Large
                  %th{:scope => "column", :width => "20%"} Extra Large
              %tbody
                %tr
                  %th{:scope => "row"} No Image
                  %td $35.00
                  %td $60.00
                  %td $85.00
                  %td $110.00
                %tr
                  %th{:scope => "row"} Image
                  %td $60.00
                  %td $85.00
                  %td $110.00
                  %td $135.00
