@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-extra-light.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-extra-light.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-extra-light.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-extra-light.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-extra-light.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-extra-light-italic.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-extra-light-italic.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-extra-light-italic.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-extra-light-italic.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-extra-light-italic.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-light.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-light.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-light.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-light.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-light.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-light-italic.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-light-italic.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-light-italic.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-light-italic.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-light-italic.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-italic.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-italic.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-italic.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-italic.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-italic.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-semibold.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-semibold.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-semibold.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-semibold.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-semibold.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-semibold-italic.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-semibold-italic.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-semibold-italic.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-semibold-italic.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-semibold-italic.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-bold.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-bold.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-bold.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-bold.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-bold.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-bold-italic.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-bold-italic.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-bold-italic.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-bold-italic.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-bold-italic.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-black.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-black.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-black.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-black.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-black.ttf' ) format( 'truetype' );
}

@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url( font-path( 'source-sans-pro-black-italic.eot' ) format( 'embedded-opentype' ),
         url( font-path( 'source-sans-pro-black-italic.woff2' ) format( 'woff2' ),
         url( font-path( 'source-sans-pro-black-italic.woff' ) format( 'woff' ),
         url( font-path( 'source-sans-pro-black-italic.otf' ) format( 'opentype' ),
         url( font-path( 'source-sans-pro-black-italic.ttf' ) format( 'truetype' );
}
