<nav class="navbar col-md-8 col-sm-9" id="top-nav-bar">
  <ul id="nav-bar" class="nav navbar-nav navbar-right">
    <li id='search-bar' data-hook>
    </li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  </ul>
</nav>
